openapi: 3.0.2
info:
  title: Lytek
  description: Web utilities for _Exalted_ 2.5e
  version: 0.2.0
  contact:
    name: Seth Blumberg
    email: sethb@pobox.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://lytek.sharpcla.ws/api
    description: Production server
  - url: /api
    description: Development server
components:
  parameters:
    TypeIdParameter:
      name: type
      in: path
      description: Type ID for which to retrieve information
      required: true
      schema:
        $ref: '#/components/schemas/TypeId'
    GroupIdParameter:
      name: group
      in: path
      description: Group ID for which to retrieve information
      required: true
      schema:
        $ref: '#/components/schemas/GroupId'
    ReferenceTitleParameter:
      name: title
      in: path
      description: Title of tab for which to retrieve card list
      required: true
      schema:
        $ref: '#/components/schemas/ReferenceTitle'
    ReferenceIdParameter:
      name: card
      in: path
      description: ID of reference card for which to retrieve full text
      required: true
      schema:
        $ref: '#/components/schemas/ReferenceId'
  responses:
    AuthenticateResponse:
      description: Response indicating that no suitable authentication token was presented
      headers:
        WWW-Authenticate:
          description: Description of expected authentication token
          schema:
            type: string
    ErrorResponse:
      $ref: 'https://api.swaggerhub.com/domains/mfllc/sharpcla.ws/0.1.0#/components/responses/ErrorResponse'
  schemas:
    CharmId:
      description: The unique identifier of a Charm (possibly including a variant suffix)
      type: string
      pattern: '^[^\s.]+\.[^\s.]+(\.\S+)?$'
    CharmData:
      description: Data object describing a Charm
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CharmId'
      required: ['id']
    GroupId:
      description: The identifier of a Charm group within a given Charm type (not unique across types)
      type: string
      pattern: '^\S+( \S+)*$'
    TypeId:
      description: The unique identifier of a Charm type
      type: string
      pattern: '^\w+(-\w+)*$'
    ReferenceTitle:
      description: The unique identifier of a reference tab, which is also the human-readable tab title
      type: string
      pattern: '^\S+( \S+)*$'
    ReferenceId:
      description: The unique identifier of a reference card (which may appear on multiple tabs)
      type: string
      pattern: '^[a-z]+(-[a-z]+)*(:[a-z]+(-[a-z]+)*)*$'
    Markdown:
      description: Human-readable free text in Markdown format
      type: string
paths:
  /charms:
    get:
      description: Returns all known Charm type IDs
      responses:
        '200':
          description: A list of Charm type IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TypeId'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /charms/{type}:
    parameters:
      - $ref: '#/components/parameters/TypeIdParameter'
    get:
      description: Returns all known Charm group IDs for the given type
      responses:
        '200':
          description: A list of Charm group IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupId'
                minItems: 1
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /charms/{type}/{group}:
    parameters:
      - $ref: '#/components/parameters/TypeIdParameter'
      - $ref: '#/components/parameters/GroupIdParameter'
    get:
      description: Returns all Charm data for the given type and group
      responses:
        '200':
          description: A list of Charm data objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CharmData'
                minItems: 1
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /charms/_quick/{type}/{group}:
    parameters:
      - $ref: '#/components/parameters/TypeIdParameter'
      - $ref: '#/components/parameters/GroupIdParameter'
      - name: types
        in: query
        description: Flag requesting return of type list data if present and non-empty
        required: false
        schema:
          type: string
      - name: groups
        in: query
        description: Flag requesting return of group list data if present and non-empty
        required: false
        schema:
          type: string
    get:
      description: Returns type list, group list and Charm data all at once for efficient startup
      responses:
        '200':
          description: Combined type list, group list and Charm data
          content:
            application/json:
              schema:
                type: object
                properties:
                  charms:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharmData'
                    minItems: 1
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupId'
                    minItems: 1
                  types:
                    type: array
                    items:
                      $ref: '#/components/schemas/TypeId'
                    minItems: 1
                additionalProperties: false
                required: ['charms']
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /reference/tabs:
    get:
      description: Returns all known reference tab titles
      responses:
        '200':
          description: A list of reference tab titles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceTitle'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /reference/cards:
    get:
      description: Returns all known reference card IDs
      responses:
        '200':
          description: A list of reference card IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceId'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /reference/index/{title}:
    parameters:
      - $ref: '#/components/parameters/ReferenceTitleParameter'
    get:
      description: Returns all reference card IDs for a given tab
      responses:
        '200':
          description: A list of reference card IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceId'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /reference/card/{card}:
    parameters:
      - $ref: '#/components/parameters/ReferenceIdParameter'
    get:
      description: Returns the full text of a given reference card
      responses:
        '200':
          description: >-
            Human-readable free text in Markdown format, optionally encapsulated as JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Markdown'
            text/markdown:
              schema:
                $ref: '#/components/schemas/Markdown'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '406':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /reference/tab/{title}:
    parameters:
      - $ref: '#/components/parameters/ReferenceTitleParameter'
    get:
      description: Returns the IDs and text of all reference cards for a given tab
      responses:
        '200':
          description: A list of card IDs, each with accompanying Markdown text
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/ReferenceId'
                    text:
                      $ref: '#/components/schemas/Markdown'
                  additionalProperties: false
                  required: ['id', 'text']
                minItems: 1
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticateResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
